<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery
	galleryTitle="Rendang Korea Gallery"
>
  <image imageURL="images/1.jpg"
	thumbURL="thumbs/1.jpg"
	linkURL="images/1.jpg"
	linkTarget="_blank">
	<title>Welcome to Rendang Korea!</title>
  </image>
  <image imageURL="images/2.jpg"
	thumbURL="thumbs/2.jpg"
	linkURL="images/2.jpg"
	linkTarget="_blank">
	<caption><![CDATA[<u><a href="http://rendangkorea.com/" target="_blank">Rendang Padang Restu Mande ada 2 rasa, Pedas dan Original.]]></caption>
  </image>
  <image imageURL="images/3.jpg"
	thumbURL="thumbs/3.jpg"
	linkURL="images/3.jpg"
	linkTarget="_blank">
    <title>Universal Playback</title>
    <caption>Juicebox can be viewed on Windows, Mac, Linux, iPhone, iPad and Android. It works on all modern browsers all the way back to Internet Explorer 6.</caption>
  </image>
  <image imageURL="images/4.jpg"
	thumbURL="thumbs/4.jpg"
	linkURL="images/4.jpg"
	linkTarget="_blank">
	<title>JuiceboxBuilder</title>
	<caption><![CDATA[Easily create Juicebox galleries using <u><a href="http://www.juicebox.net/tour/juiceboxbuilder/" target="_blank">JuiceboxBuilder</a></u>, our free desktop app.]]></caption>
  </image>
  <image imageURL="images/5.jpg"
	thumbURL="thumbs/5.jpg"
	linkURL="images/5.jpg"
	linkTarget="_blank">
	<title>Features</title>
    <caption>Juicebox features intuitive image navigation, smart image pre-loading and a resizable interface that scales to fit the browser window (try resizing your browser).</caption>
  </image>
  <image imageURL="images/6.jpg"
	thumbURL="thumbs/6.jpg"
	linkURL="images/6.jpg"
	linkTarget="_blank">
	<title>Toggle Overlay</title>
    <caption><![CDATA[To hide image overlay on a touch device, tap the screen. On a mouse device, move the mouse ourtside the gallery.]]></caption>
  </image>
  <image imageURL="images/7.jpg"
	thumbURL="thumbs/7.jpg"
	linkURL="images/7.jpg"
	linkTarget="_blank">
    <caption><![CDATA[Handles images with different aspect ratios. Images can be tall or wide.]]></caption>
  </image>
  <image imageURL="images/8.jpg"
	thumbURL="thumbs/8.jpg"
	linkURL="images/8.jpg"
	linkTarget="_blank">
	<title>Smart Preloading</title>
    <caption><![CDATA[Images are pre-loaded in the background to avoid load bars when viewing an image.]]></caption>
  </image>
  <image imageURL="images/9.jpg"
	thumbURL="thumbs/9.jpg"
	linkURL="images/9.jpg"
	linkTarget="_blank">
    <caption><![CDATA[Images can be loaded via an XML document or directly from Flickr using a Flickr user name and/or tags.]]></caption>
  </image>
  <image imageURL="images/10.jpg"
	thumbURL="thumbs/10.jpg"
	linkURL="images/10.jpg"
	linkTarget="_blank">
	<title>Easy Navigation</title>
    <caption><![CDATA[Navigate through the images by clicking or using the keyboard: Cursor keys and Home, End Keys. On a touch device, swipe to view the next image.]]></caption>
  </image>
  <image imageURL="images/11.jpg"
	thumbURL="thumbs/11.jpg"
	linkURL="images/11.jpg"
	linkTarget="_blank">
	<title>Button Bar</title>
    <caption><![CDATA[Supports optional <b>Toggle Thumbnails</b>, <b>Expand Gallery </b> and <b>Open Image</b> buttons in the the Button Bar at top-right.]]></caption>
  </image>
  <image imageURL="images/12.jpg"
	thumbURL="thumbs/12.jpg"
	linkURL="images/12.jpg"
	linkTarget="_blank">
	<title>Customizable</title>
    <caption><![CDATA[Modify look and feel by setting configuration options. View available <u><a href="http://www.juicebox.net/support/config_options/" target="_blank">config options</a></u>.]]></caption>
  </image>
  <image imageURL="images/13.jpg"
	thumbURL="thumbs/13.jpg"
	linkURL="images/13.jpg"
	linkTarget="_blank">
	<title>Image Titles and Captions</title>
    <caption><![CDATA[Each image can have an optional title and a caption. Supports non-english characters: ンツを活用して広告収入を得ることが可能]]></caption>
  </image>
  <image imageURL="images/14.jpg"
	thumbURL="thumbs/14.jpg"
	linkURL="images/14.jpg"
	linkTarget="_blank">
    <caption><![CDATA[Captions can be HTML formatted. Supported tags are <b>bold</b>, <u>underline</u>, <i>italics</i>, <u><a href="http://www.juicebox.net" target="_blank">hyperlinks</a></u>, linebreaks<br> and <font color="#ffff00" size="18" face="serif">font tags</font>]]></caption>
  </image>
  <image imageURL="images/15.jpg"
	thumbURL="thumbs/15.jpg"
	linkURL="images/15.jpg"
	linkTarget="_blank">
	<title>Juicebox-Pro</title>
    <caption><![CDATA[For advanced customization options, no branding and more - upgrade to <u><a href="http://www.juicebox.net/download" target="_blank">Juicebox-Pro</a></u>.]]></caption>
  </image>
  <image imageURL="images/16.jpg"
	thumbURL="thumbs/16.jpg"
	linkURL="images/16.jpg"
	linkTarget="_blank">
	<title>Thanks!</title>
    <caption><![CDATA[Gallery images kindly provided by John Carey of <u><a href="http://www.fiftyfootshadows.net/" target="_blank">Fifty Foot Shadows</a></u>.]]></caption>
  </image>
    <image imageURL="images/17.jpg"
	thumbURL="thumbs/17.jpg"
	linkURL="images/17.jpg"
	linkTarget="_blank">
	<title>Smart Preloading</title>
    <caption><![CDATA[Images are pre-loaded in the background to avoid load bars when viewing an image.]]></caption>
  </image>
  <image imageURL="images/18.jpg"
	thumbURL="thumbs/18.jpg"
	linkURL="images/18.jpg"
	linkTarget="_blank">
    <caption><![CDATA[Images can be loaded via an XML document or directly from Flickr using a Flickr user name and/or tags.]]></caption>
  </image>
  <image imageURL="images/19.jpg"
	thumbURL="thumbs/19.jpg"
	linkURL="images/19.jpg"
	linkTarget="_blank">
	<title>Easy Navigation</title>
    <caption><![CDATA[Navigate through the images by clicking or using the keyboard: Cursor keys and Home, End Keys. On a touch device, swipe to view the next image.]]></caption>
  </image>
  <image imageURL="images/20.jpg"
	thumbURL="thumbs/20.jpg"
	linkURL="images/20.jpg"
	linkTarget="_blank">
	<title>Button Bar</title>
    <caption><![CDATA[Supports optional <b>Toggle Thumbnails</b>, <b>Expand Gallery </b> and <b>Open Image</b> buttons in the the Button Bar at top-right.]]></caption>
  </image>
  <image imageURL="images/21.jpg"
	thumbURL="thumbs/21.jpg"
	linkURL="images/21.jpg"
	linkTarget="_blank">
	<title>Customizable</title>
    <caption><![CDATA[Modify look and feel by setting configuration options. View available <u><a href="http://www.juicebox.net/support/config_options/" target="_blank">config options</a></u>.]]></caption>
  </image>
  <image imageURL="images/22.jpg"
	thumbURL="thumbs/22.jpg"
	linkURL="images/22.jpg"
	linkTarget="_blank">
	<title>Image Titles and Captions</title>
    <caption><![CDATA[Each image can have an optional title and a caption. Supports non-english characters: ンツを活用して広告収入を得ることが可能]]></caption>
  </image>
  <image imageURL="images/23.jpg"
	thumbURL="thumbs/23.jpg"
	linkURL="images/23.jpg"
	linkTarget="_blank">
    <caption><![CDATA[Captions can be HTML formatted. Supported tags are <b>bold</b>, <u>underline</u>, <i>italics</i>, <u><a href="http://www.juicebox.net" target="_blank">hyperlinks</a></u>, linebreaks<br> and <font color="#ffff00" size="18" face="serif">font tags</font>]]></caption>
  </image>
  <image imageURL="images/24.jpg"
	thumbURL="thumbs/24.jpg"
	linkURL="images/24.jpg"
	linkTarget="_blank">
	<title>Juicebox-Pro</title>
    <caption><![CDATA[For advanced customization options, no branding and more - upgrade to <u><a href="http://www.juicebox.net/download" target="_blank">Juicebox-Pro</a></u>.]]></caption>
  </image>
  <image imageURL="images/25.jpg"
	thumbURL="thumbs/25.jpg"
	linkURL="images/25.jpg"
	linkTarget="_blank">
	<title>Thanks!</title>
    <caption><![CDATA[Gallery images kindly provided by John Carey of <u><a href="http://www.fiftyfootshadows.net/" target="_blank">Fifty Foot Shadows</a></u>.]]></caption>
  </image>
</juiceboxgallery>