<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery
	galleryTitle="Rendang Korea Gallery"
>
  <image imageURL="images/1.jpg"
	thumbURL="thumbs/1.jpg"
	linkURL="images/1.jpg"
	linkTarget="_blank">
	<title>Welcome to Rendang Korea!</title>
  </image>
  <image imageURL="images/2.jpg"
	thumbURL="thumbs/2.jpg"
	linkURL="images/2.jpg"
	linkTarget="_blank">
	<caption><![CDATA[<a href="http://rendangkorea.com/" target="_blank">Rendang Padang Restu Mande terdiri dari 2 rasa, Pedas dan Original.]]></caption>
  </image>
  <image imageURL="images/3.jpg"
	thumbURL="thumbs/3.jpg"
	linkURL="images/3.jpg"
	linkTarget="_blank">
    <title>Universal Playback</title>
    <caption><![CDATA[<a href="http://rendangkorea.com/" target="_blank">Hanya 15.000 won untuk rendang isi 5 potong.]]></caption>
  </image>
  <image imageURL="images/4.jpg"
	thumbURL="thumbs/4.jpg"
	linkURL="images/4.jpg"
	linkTarget="_blank">
	<title>JuiceboxBuilder</title>
	<caption><![CDATA[<a href="http://rendangkorea.com/" target="_blank">Hanya 6.500 won untuk rendang isi 2 potong.]]></caption>
  </image>
  <image imageURL="images/5.jpg"
	thumbURL="thumbs/5.jpg"
	linkURL="images/5.jpg"
	linkTarget="_blank">
	<title>Features</title>
    <caption><![CDATA[<a href="http://rendangkorea.com/" target="_blank">Proses pengolahan rendang pada restu mande.]]></caption>
  </image>
  <image imageURL="images/6.jpg"
	thumbURL="thumbs/6.jpg"
	linkURL="images/6.jpg"
	linkTarget="_blank">
	<title>Toggle Overlay</title>
    <caption><![CDATA[<a href="http://rendangkorea.com/" target="_blank">Kemasan rendang padang isi 2.]]></caption>
  </image>
  <image imageURL="images/7.jpg"
	thumbURL="thumbs/7.jpg"
	linkURL="images/7.jpg"
	linkTarget="_blank">
    <cap<caption><![CDATA[<a href="http://rendangkorea.com/" target="_blank">Randang padang restu mande through the world.]]></caption>
  </image>
  <image imageURL="images/8.jpg"
	thumbURL="thumbs/8.jpg"
	linkURL="images/8.jpg"
	linkTarget="_blank">
	<title>Smart Preloading</title>
    <caption><![CDATA[<a href="http://rendangkorea.com/" target="_blank">Rendang enak disajikan bersama nasi hangat dan lalapan.]]></caption>
  </image>
  <image imageURL="images/9.jpg"
	thumbURL="thumbs/9.jpg"
	linkURL="images/9.jpg"
	linkTarget="_blank">
    <caption><![CDATA[<a href="http://rendangkorea.com/" target="_blank">Kemasan rendang padang restu mande tampak depan.]]></caption>
  </image>
  <image imageURL="images/10.jpg"
	thumbURL="thumbs/10.jpg"
	linkURL="images/10.jpg"
	linkTarget="_blank">
	<title>Easy Navigation</title>
    <caption><![CDATA[<a href="http://rendangkorea.com/" target="_blank">Kemasan rendang padang restu mande tampak depan.]]></caption>
  </image>
  <image imageURL="images/11.jpg"
	thumbURL="thumbs/11.jpg"
	linkURL="images/11.jpg"
	linkTarget="_blank">
	<title>Button Bar</title>
    <caption><![CDATA[<a href="http://rendangkorea.com/" target="_blank">Kemasan rendang padang restu mande tampak belakang.]]></caption>
  </image>
  <image imageURL="images/12.jpg"
	thumbURL="thumbs/12.jpg"
	linkURL="images/12.jpg"
	linkTarget="_blank">
	<title>Customizable</title>
    <caption><![CDATA[<a href="http://rendangkorea.com/" target="_blank">Kemasan rendang padang restu mande tampak atas.]]></caption>
  </image>
  <image imageURL="images/13.jpg"
	thumbURL="thumbs/13.jpg"
	linkURL="images/13.jpg"
	linkTarget="_blank">
	<title>Image Titles and Captions</title>
    <caption><![CDATA[<a href="http://rendangkorea.com/" target="_blank">Kemasan rendang padang restu mande tampak atas.]]></caption>
  </image>
  <image imageURL="images/14.jpg"
	thumbURL="thumbs/14.jpg"
	linkURL="images/14.jpg"
	linkTarget="_blank">
    <caption><![CDATA[<a href="http://rendangkorea.com/" target="_blank">Bersertifikat HALAL dan ijin DINKES.]]></caption>
  </image>
  <image imageURL="images/15.jpg"
	thumbURL="thumbs/15.jpg"
	linkURL="images/15.jpg"
	linkTarget="_blank">
	<title>Juicebox-Pro</title>
    <caption><![CDATA[<a href="http://rendangkorea.com/" target="_blank">Bersertifikat HALAL dan ijin DINKES.]]></caption>
  </image>
  <image imageURL="images/16.jpg"
	thumbURL="thumbs/16.jpg"
	linkURL="images/16.jpg"
	linkTarget="_blank">
	<title>Thanks!</title>
    <caption><![CDATA[<a href="http://rendangkorea.com/" target="_blank">Tanpa MSG dan bahan pengawet.]]></caption>
  </image>
  <image imageURL="images/24.jpg"
	thumbURL="thumbs/24.jpg"
	linkURL="images/24.jpg"
	linkTarget="_blank">
	<title>Juicebox-Pro</title>
    <caption><![CDATA[<a href="http://rendangkorea.com/" target="_blank">Kandungan gizi rendang padang restu mande.]]></caption>
  </image>
  <image imageURL="images/25.jpg"
	thumbURL="thumbs/25.jpg"
	linkURL="images/25.jpg"
	linkTarget="_blank">
	<title>Thanks!</title>
    <caption><![CDATA[<a href="http://rendangkorea.com/pemesanan.html" target="_blank">Silahkan di pesan Randang Padang Restu Mandenya.]]></caption>
  </image>
</juiceboxgallery>